<header>
  <nav>
    <md-toolbar color="primary">  
      <figure class="navbar-logo">
        <img src="/assets/img/favicon/android-chrome-192x192.png" alt="">
      </figure>
      <span>PollMe</span>
      <div class="flex-spacer"></div>

      <button id="user-menu-button"
        class="mdl-button mdl-js-button mdl-button--icon">
        <md-icon>account_circle</md-icon>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
          for="user-menu-button">
        <li routerLink="user" class="mdl-menu__item">Profile</li>
        <li *ngIf="!userService.isLogged" routerLink="user/login" class="mdl-menu__item" routerLink="user/login">Log in</li>
        <li *ngIf="userService.isLogged" (click)="logOut()" class="mdl-menu__item">Log out</li>
      </ul>
    </md-toolbar>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
</footer>